.checkout{
    display: flex;
    padding: 10px;
}
.checkout__leftimg{
    width: 100%;
    padding-bottom: 10px;
}
.checkout__title{
    padding: 10px;
    margin-right: 15px;
    border-bottom: solid lightgray;
}